h1 {font-family:'Times New Roman';color: white; border-bottom:5px groove gold;border-right:5px groove gold;display:inline-block; margin: 0;}
h4{border-bottom:5px dotted gold;margin:0; width:100%; color:white;}
Body {margin: 0;padding: 0;background-color: #660066;background-image: linear-gradient(135deg,#660066,#0099CC); width:100%;}
p {text-align: justify;padding:15px;}
a {margin:0;}
audio {margin-left:auto;margin-right:auto; display:block;}

#PCpageH1 {margin:0;padding:0;background-color: rgba(255,255,255,0.9); border: 3px black solid;font-family: 'Brush Script MT';}
#ContentScreen1 {float: left;width: 700px; height:1000px; background-color: rgba(255,255,215,0.5); border:3px black solid;}
#mytext {font-family:cursive;}


.Pages {Float: left;
        height:900px;
        width: 300px;
        background: #fff;
		border:3px grey solid;}
.Pages img{width:300px; height:300px}
.Socials {width:25px; height:75px; border:1px solid black; float:right;}
.fb {
	background: url('../images/socmedSprite.png') no-repeat -10px -19px;
	width: 25px;
	height: 25px;}
.insta {
	background: url('../images/socmedSprite.png') no-repeat -117px -19px;
	width: 25px;
	height: 25px;}
.youtube {
	background: url('../images/socmedSprite.png') no-repeat -82px -19px;
	width: 25px;
	height: 25px;}